main {
    margin-top: 60px;
}

#content {
    display: none;
}

form {
    width: 350px;
    margin-bottom: 10px;
}

form > *:last-child {
    margin-top: 10px;
}

ul {
    margin-bottom: 0px;
}

#completedTaskList .content {
    color: grey;
    text-decoration: line-through;
}


@media (max-width: 720px) {
    main {
        margin-top: 120px;
    }
}